@import "_mixin";

footer{
  @include font_1;
  .hidden{
    display: none;
  }

  .inner{
    .ft-contents{
      padding: 50px 0;
      width: 1320px;
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      .ft-info{
        figure{
          overflow: hidden;
          margin-bottom: 30px;
        }
        .address{
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 600;
          color: #333;
        }
        ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          li{
            margin-right: 10px;
            &:last-of-type{
              margin: 0;
            }
            a{
              font-size: 14px;
              color: #777;
            }
          }
        }
      }
      .sns{
        display: flex;
        li{
          margin-right: 10px;
          &:last-of-type{
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  footer{
    .inner{
      .ft-contents{
        flex-direction: column;
        text-align: center;
        align-items: center;

        .ft-info{
          margin-bottom: 50px;
        }
      }
    }
  }
}