@import "_mixin";


header{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  .inner{
    position: relative;
    z-index: 10;
    width: 100%;
    background: rgba(0,0,0,.3);
    transition: all .3s;
    &.on{
      background: white;
      box-shadow: 0 2px 5px rgba(0,0,0,.3);
    }
    &.scroll{
      background: white;
      box-shadow: 0 2px 5px rgba(0,0,0,.3);

    }

    .hover-bg{
      display: none;
      position: absolute;
      // border: 1px solid red;
      top: 100%;
      width: 100%;
      height: 250px;
      background: rgba(255,255,255,0);
      transition: all .5s;

      &.on{
        top: 100%;
        display: block;
        background: rgba(255,255,255,1);
      }
    }
    .hd-contents{
      width: 1320px;
      max-width: 90%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;

      nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pc-nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
          &.clicked{
            right: 0;
          }
          .nav-list{
            position: relative;
            padding: 20px 40px;
            a{
              @include font_2;
              font-size: 18px;
              color: #fff;
              font-weight: 400;

              &.on{
                color: #333;
              }
              &.scroll{
                color: #333;
          
              }
            }
            .sub-menu{
              display: none;
              position: absolute;
              z-index: 1;
              top: 90%;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              white-space: nowrap;
              transition: all .5s;
              opacity: 0;

              li{
                padding: 16px 0 8px;
                a{
                  color: #777;
                  font-size: 1rem;

                  &:hover{
                    color: #00AF66;
                    font-weight: 600;
                  }
                }
              }
              &.on{
                display: block;
                top: 100%;
                opacity: 1;
              }
            }
          }
        }
        .mb-nav{
          display: none;
          width: 22px;
          height: 22px;
          padding: 0;
          border: none;
          background: transparent;
          span{
            display: block;
            width: 22px;
            height: 2px;
            background: #333;
            margin-bottom: 6px;

            &:last-of-type{
              margin: 0;
            }
            &.on{
              background: #333;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1280px){
  header{
    .inner{
      .hd-contents{
        nav{
          .pc-nav{
            .nav-list{
              a{
                font-size: 14px;
                white-space: nowrap;
              }

              .sub-menu{
                .sub-menu-list{
                  a{
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px){
  header{
    position: fixed;
    top: 0;
    .inner{
      position: relative;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,.3);
      .hd-contents{

        nav{
          padding: 20px 0;
          .pc-nav{
            position: absolute;
            top: 100%;
            width: 80%;
            
            right: -100%;
            background-color: rgba(0,0,0,.9);
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100vh;
            transition: all .5s;
            &.clicked{
              right: 0;
            }
            .nav-list{
              position: relative;
              text-align: start;
              >a{
                font-size: 1rem;
                font-weight: 600;
                color: #fff !important;
              }
              .sub-menu{
                position: static;
                opacity: 1;
                transition: none;
                text-align: start;
                &.sub01{
                  margin: 20px 0 0 20px;
                }
                &.sub02{
                  margin: 20px 0 0 70px;
                }
                &.sub03{
                  margin: 20px 0 0 65px;
                }
                &.sub04{
                  margin: 20px 0 0 40px;
                }
                &.sub05{
                  margin: 20px 0 0 40px;
                }
                &.selected{
                  display: block;
                }
                .sub-menu-list{
                  a{
                    color: #00AF66;
                    font-weight: 400;
                    
                  }
                }
              }
            }
          }
          .mb-nav{
            display: block;


          }
        }
      }
    }
  }
}

@media (max-width: 500px){

}
