@import "_mixin";

main{
  @include font_1;
  .hidden{
    display: none;
  }
  .sc-tt{
    margin-bottom: 15px;
    @include font_1;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    letter-spacing: -.035em
  }
  .sc-sub-tt{
    margin-bottom: 70px;
    @include font_1;
    font-size: 14px;
    color: #777;
    letter-spacing: -.035em
  }
  .main-visual{
    .inner{
      .swiper{
        .swiper-slide{
          height: 1000px;

          &.first{
            background: url('../imgs/main01.png') no-repeat;
            background-size: cover;
            background-position: center;
          }
          &.sec{
            background: url('../imgs/main02.png') no-repeat;
            background-size: cover;
            background-position: center;
          }
          &.thr{
            background: url('../imgs/main03.png') no-repeat;
            background-size: cover;
            background-position: center;
          }

          .main-txt{
            position: relative;
            width: 1320px;
            max-width: 80%;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include font_1;
            color: #fff;
            h3{
              font-size: 50px;
              font-weight: bold;
              margin-bottom: 40px;
            }
            .main-prev{
              position: absolute;
              top: 70%;
              left: 0;
              width: 26px;
              height: 32px;
              background: url('../imgs/prev_btn.png') no-repeat;
              background-size: cover;
              background-position: center;
              cursor: pointer;
              &::after{
                display: none;
              }
            }
            .main-next{
              position: absolute;
              top: 70%;
              left: 5%;
              width: 26px;
              height: 32px;
              background: url('../imgs/next_btn.png') no-repeat;
              background-size: cover;
              background-position: center;
              cursor: pointer;
              &::after{
                display: none;
              }
            }
          }
        }

        .main-pagination{
          padding-bottom: 3%;
          span{
            position: relative;
            padding: 0 1rem 2rem;
            @include font_1;
            color: #fff;
            font-size: 20px;
            background: transparent;
            font-weight: bold;
            &::after{
              content: "";
              display: block;
              width: 60%;
              height: 3px;
              background: #fff;
              position: absolute;
              top: 70%;
              left: 50%;
              transform: translateX(-50%);

            }
          }
        }
      }
    }
    
  }

  .about{
    margin-bottom: 140px;
    .proud{
      width: 1320px;
      margin: 100px auto;
      max-width: 80%;
      ul{
        @include font_1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        li{
          width: 15.5%;
          padding: 25px;
          background: #F9F9F9;
          h3{
            margin-bottom: 20px;
            font-size: 24px;
            color: #00AF66;
            font-weight: bold;
          }
          p{
            font-size: 14px;
            color: #777;
            line-height: 1.5em;
            letter-spacing: -0.025em;
          }
        }
      }
    }
    .inner{
      width: 1320px;
      max-width: 80%;
      margin: 0 auto;
      
      .about-hd{
        text-align: center;
        margin-bottom: 70px;
        h3{
          margin-bottom: 15px;
        }
      }
      .about-bd{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        .item-list{
          width: 33.33333%;
        }
        figure{
          width: 100%;
          margin-bottom: 40px;
          overflow: hidden;
          img{
            max-width: 100%;
          }
          // img{
          //   transition: all .5s;
          //   &:hover{
          //     transform: scale(1.1);
          //   }
          // }
        }
        .item-txt{
          h4{
            font-weight: 600;
            margin-bottom: 10px;
            color: #333;
          }
          p{
            margin-bottom: 40px;
            line-height: 1.5em;
            font-size: 14px;
            color: #777;
            
          }
          a{
            display: inline-block;
            padding: 12px 20px 13px;
            font-size: 14px;
            color: #00AF66;
            border: 1px solid #00AF66;

            &:hover{
              background: #00AF66;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .project{
    margin-bottom: 150px;
    .inner{
      width: 100%;
      background: url('../imgs/pj_bg.png') no-repeat;
      background-size: cover;
      background-position: center;
      .pj-contents{
        width: 1320px;
        max-width: 80%;
        margin: 0 auto;
        padding: 85px 0px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        .pj-intro{
          position: relative;
          margin-right: 200px;
          h3{
            margin-bottom: 25px;
            font-size: 40px;
            font-weight: 600;
            white-space: nowrap;
          }
          p{
            margin-bottom: 60px;
            line-height: 1.5em;
          }
          a{
            display: inline-block;
            color: #fff;
            padding: 12px 20px 13px;
            border: 1px solid #fff;
          }

          .pj-prev{
            position: absolute;
            top: 95%;
            left: 0%;
            width: 26px;
            height: 32px;
            background: url('../imgs/prev_btn.png') no-repeat;
            background-size: cover;
            background-position: center;
            &::after{
              display: none;
            }
          }
          .pj-next{
            position: absolute;
            top: 95%;
            left: 25%;
            width: 26px;
            height: 32px;
            background: url('../imgs/next_btn.png') no-repeat;
            background-size: cover;
            background-position: center;
            &::after{
              display: none;
            }
          }
        }

        .pj-slider{
          // float: right;
          .swiper-slide{
            a{

              &:hover img{
                transform: scale(1.1);
              }
              &:hover .pj-txt{
                background: #00AF66;
                color: #fff;
              }
              figure{
                overflow: hidden;
                img{
                  width: 100%;
                  height: auto;
                  transition: all .5s;
                }
              }
              .pj-txt{
                background: #fff;
                margin-top: -2px;
                padding: 24px 0 24px 20px;
                color: #333;
                font-weight: 600;
                transition: all .5s;
              }

            }
          }
        }
      }
    }
    
  }
  .solution{
    text-align: center;
    padding-bottom: 200px;
    .inner{
      width: 1320px;
      max-width: 80%;
      margin: 0 auto;
      .sol-bd{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        text-align: start;
        figure{
          width: 766px;
          max-width: 55%;
          overflow: hidden;
          img{
            max-width: 100%;
          }
        }
        ul{
          width: 40%;
          li{
            margin-bottom: 20px;
            padding: 30px;
            box-shadow: 0 5px 5px rgba(0,0,0,.2);
            cursor: pointer;
            h3{
              font-size: 20px;
              color :#333;
              font-weight: 600;

              &.on{
                margin-bottom: 20px;

              }
            }
            p{
              display: none;
              font-size: 14px;
              color: #333;
              font-weight: 500;
              line-height: 1.5em;
              transition: max-height .3s ease-in-out;
              &.on{
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .customer{
    .inner{
      padding: 180px 0;
      background: url('../imgs/cus_bg.png') no-repeat;
      background-position: center;
      background-size: cover;
      .cus-contents{
        width: 1320px;
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .cus-txt{
          color: #fff;
          h3{
            font-size: 40px;
            font-weight: bold;
            line-height: 1.5em;
            letter-spacing: -0.025em;
            margin-bottom: 30px;
          }
          p{
            letter-spacing: -0.025em;
          }
        }
        .cus-link-box{
          max-width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          li{
            a{
              position: relative;
              display: inline-block;
              width: 225px;
              height: 225px;
              padding: 25px;
              background: rgba(0,0,0,.7);
              border: 1px solid #fff;
              color: #fff;
              font-weight: 600;
              transition: all .5s;

              &:hover{
                background: #000;
              }

              h4{
                margin-bottom: 15px;
                font-size: 20px;
              }
              p{
                font-size: 14px;
              }
              figure{
                position: absolute;
                bottom: 10%;
                right: 10%;
              }
            }

            &:first-of-type{
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1430px){
  main{
    .customer{
      .inner{
        .cus-contents{
          .cus-txt{
            h3{
              font-size: 2rem;
            }
          }
          .cus-link-box{
            li{
              a{
                width: 130px;
                height: 130px;
                h4{
                  font-size: 1rem;
                }
                p{
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 1.5em;
                }
                figure{
                  img{
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px){
  main{
    .about{
      .proud{
        ul{
          li{
            width: 15%;
            padding: 15px;
            h3{
              font-size: 18px;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
      .about-bd{
        .item-list{
          .item-txt{
            h4{
              font-size: 14px;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
    }
    .project{
      .inner{
        .pj-contents{
          .pj-intro{
            margin-right: 80px;
            h3{
              font-size: 30px;
            }
            p{
              font-size: 14px;
              margin-bottom: 20px;
            }
          }
          .pj-slider{
            .swiper-slide{
              .pj-txt{
                padding: 10px 8px !important;
                h4{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .customer{
      .inner{
        .cus-contents{
          .cus-txt{
            h3{
              font-size: 1.5rem;
            }
          }
          .cus-link-box{
            li{
              a{
                width: 130px;
                height: 130px;
                h4{
                  font-size: 1rem;
                }
                p{
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 1.5em;
                }
                figure{
                  img{
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px){
  main{
    .main-visual{
      .inner{
        .main-visual-slider{
          .swiper-slide{
            .main-txt{
              h3{
                line-height: 1.25em !important;
              }
              .main-prev{
                top: 80%;
              }
              .main-next{
                top: 80%;
                left: 20%;
            }
            
            }
          }
          
        }
      }
    }
    .about{
      .proud{
        ul{
          flex-wrap: wrap;
          justify-content: space-between;
          li{
            width: 42.5%;
            margin-bottom: 4%;
          }
        }
      }
      .about-bd{
        .item-list{
          .item-txt{
            padding: 4%;
            height: 180px;
          }
        }
      }
    }

    .project{
      .inner{
        .pj-contents{
          flex-direction: column;
          align-items: center;
          .pj-intro{
            margin-right: 0;
            text-align: center;

            padding-bottom: 50px;
            p{
              margin-bottom: 50px;
            }
            .pj-next, .pj-prev{
              display: none;
            }
          }
          .pj-slider{
            max-width: 80%;
          }
        }
      }
    }

    .solution{
      .inner{
        .sol-bd{
          figure{
            flex-grow: 1;
            max-width: 100%;
            margin-bottom: 50px;
          }
          ul{
            width: 100%;
            justify-self: center;
            text-align: center;
          }
        }
      }
    }

    .customer{
      .inner{
        .cus-contents{
          flex-direction: column;
          align-items: center;
          .cus-txt{
            text-align: center;
            margin-bottom: 50px;
          }
          .cus-link-box{
            max-width: 100%;
            li{
              a{
                width: 100px;
                height: 100px;
                h4{
                  font-size: 14px;
                }
                p{
                  display: none;
                }
                
              }
              
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  main{
    .main-visual{
      .inner{
        .main-visual-slider{
          height: 800px !important;
          .swiper-slide{
            .main-txt{
              height: 800px;
              h3{
                font-size: 30px;
              }
              p{
                line-height: 1.5em;
              }

              .main-prev, .main-next{
                display: none;
              }
            }
          }
        }
      }
    }
    .about{
      .proud{
        ul{
          li{
            width: 100%;
          }
        }
      }
      .inner{
        .about-hd{
          .sc-tt{
            font-size: 18px;
          }
          .sc-sub-tt{
            font-size: 14px;
            line-height: 1.5em;
          }
        }
        .about-bd{
          flex-direction: column;
          .item-list{
            width: 100%;
          }
        }
      }
    }
    .project{
      .inner{
        .pj-contents{
          .pj-slider{
            .swiper-slide{
              a{
                .pj-txt{
                  padding: 20px !important;
                  text-align: center;
                }

              }
            }
          }
        }
      }
    }
    .solution{
      .inner{
        .sol-bd{
          figure{
            display: none;
          }
        }
      }
    }
  }
}